<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teste</title>
</head>

<body>
    <ul>
        <li><a href="{{url_for('login_usuario')}}">login</a></li>
        <li><a href="{{url_for('cadastro_usuario')}}">cadastro</a></li>
        <li><a href="{{url_for('index')}}">index</a></li>
        <li><a href="{{url_for('registrar_ocorrencia')}}">registra Ocorrência</a></li>
        <li><a href="{{url_for('sobre')}}">sobre</a></li>
        
        
    </ul>
</body>
</html>